<section class="footer  p-5">
    <div class="container">
        <div class="row justify-content-center align-items-center py-3 ">
            <div class="col-md-4 text-center mt-2">
                <h3>{{location}}</h3>
                <p>{{address}} <span><br>{{address2}}</span></p>
            </div>
            <div class="col-md-4 text-center">
                <h3>{{web}}</h3>
                <div class="socaial-icons d-flex justify-content-center">
                    <div class="icon d-flex align-items-center  justify-content-center rounded-circle px-2 ">
                        <i class="fa-brands fa-facebook-f"></i>

                    </div>
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle px-2 ">
                        <i class="fa-brands fa-twitter"></i>

                    </div>
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle px-2 ">
                        <i class="fa-brands fa-linkedin-in"></i>

                    </div>
                    <div class="icon d-flex align-items-center justify-content-center rounded-circle px-2 ">
                        <i class="fa-solid fa-globe"></i>

                    </div>
                </div>
            </div>
            <div class="col-md-4 text-center mt-3">
                <h3>{{freelance}}</h3>
                <p>{{aboutFreelance}}</p>
            </div>
        </div>

    </div>



</section>
<div class="copy">
    <div class="container py-3 d-flex justify-content-center align-items-center text-white">
        <p>{{copyRight}}</p>
    </div>
</div>